*{
	margin: 0;
	padding: 0;
	font-family: arial;
}
.header{
	height: 50px;
	background: #000000;
	padding: 20px;
	color:#fff;
}
.header img {
	float: left;
	margin-right: 20px;	
}
.header h2{
	text-transform: uppercase;
	margin-bottom: 10px;
}
.header h5{
	font-size: 20px;
}
.logo{
	line-height: 100px;
	float : left;
	text-transform: uppercase;
}
.profil{
	padding: 10px;
	background-color: white;
	width:250px;
	height: 60px;
	float: right;
	margin:-70px 2% 0px 0px;
	font-size: 19px;
	
}
.profil p {
	float: left;
	margin:0px 0px 10px 0px;
}
.profil img {
	width:32px;
	height: 32px;
	margin:10px 0px 0px 20px;
}
/*dropdown Logout*/
.profil-btn {
background-color: white;
  margin: -10px;
  margin-top: -10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
.profil {
  padding: 20px;
	position: relative;
  display: inline-block;
  padding-top: 10px;
  padding: 10px;
	background-color: white;
	width:250px;
	height: 60px;
	float: right;
	margin:-70px 2% 0px 0px;
	font-size: 19px;	
}
.profil-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.profil-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

.profil-content a:hover {


  background-color: #f1f1f1}

.profil:hover .profil-content {
  display: block;
  margin-left: 100px;
  margin-top: -10px;
}

.profil:hover .dropbtn {
  background-color: #3e8e41;
}

/*end profil*/

.kotak{
	background-color: white;
	width: 200px;
	height: 50px;
	margin-top: 10px;
	margin-left: 8px;
	text-align: center;
}
.kotak p{
	padding-top: 17px;
}
.Bab{
	float: left;
	margin-right: 250px;
}
.img-MTK{
	width: 600px;
	height: 300px;
	margin-top: 70px;

}
body {
	background-image: url("apel.jpg");
	width:100%;
	height: 100%;
	background-size: cover;
	}
/*dropdown Materi*/
.dropbtn {
  background-color: black;
  color: white;
  padding: 10px;
  margin: -10px;
  margin-top: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.dropdown {
  padding: 20px;
  position: relative;
  display: inline-block;
  padding-top: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.bawahnya-nav{
	background-color: black;

}
/*end dropdown*/

.search-box{
	position: absolute;
	top: 25%;
	right: 3%;
	transform: translate(0% , 0%);
	background: white;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}
.search-btn img {
	width: 30px;
	height: 30px;
	padding: 5px;
}
.search-box:hover > .search-txt{
width: 150px;
padding: 0 10px;
}
.search-btn{
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.search-txt{
	border:none;
	background: none;
	outline: none;
	float: left;
	font-size: 13px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
	text-align: center;
}